<app-subheader [titulo]="'Curso de angular 2022'"></app-subheader>


 <div class="row mb-3 text-center">
    <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
       <div class="card-header py-3">
         <h4 class="my-0 fw-normal">Apartados que haremos en este ejercicio</h4>
       </div>
       <div class="card-body">
         <ul class="list-unstyled mt-3 mb-4">
           <li>Módulos</li>
           <li>Rutas</li>
           <li>Servicios Http</li>
           <li>Guards</li>
           <li>Formularios</li>
           <li>Sweetalert2</li>
         </ul>
        
       </div>
     </div>
   </div>

  
 </div>